// variables


// navbar
/* NavBar Styling */
.mon-Navbar {
  width: 90%;
  margin: 10px auto;
  padding-block: 25px;
  background: linear-gradient(135deg, #888, #5f5e5f, #888, #5f5e5f);
  border: 0.1px solid #aba9a996;

}

.mon-Navbar nav {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Logo Styling */
.Div-Logo .Logo {
  width: 55px;
  height: 55px;
  border-radius: 15px;
  margin-left: 15px;
}

/* Text and Links Styling */
.Div-Text ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}

.Div-Text ul li {
  list-style: none;
  color: rgba(54, 101, 232, 0.764);
  margin: 15px;
  position: relative; /* Needed for the dropdown */
}

.Div-Text ul li a {
  text-decoration: none;
  color: #f1f1f1; /* Link color */
  font-weight: bold;
}
.dropdown-content li a:hover {
  color: #9ac8eb; /* Bleu pastel au survol des liens */
}

/* Dropdown Menu Styling */
.dropdown {
  position: relative; /* Ensures dropdown is positioned relative to parent */
}

.dropdown-content {
  display: flex;
  justify-content: space-between;
  position: absolute;
  background-color: white;
  width: 650px;
  top: 4px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 10px;
  padding: 0px 0;
  flex-direction: row;
  text-align: center;
  right: -269px;
  transition: 1s;
}
.mon_liste{
margin-block: 0;
}
@media (max-width:776px){
  .mon-Navbar {
    width: 100%;
    margin: 5px auto;
    padding: 10px 5px;

  }
  h3{
    font-size: 14px;
  }
  
  .mon-Navbar nav {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  /* Logo Styling */
  .Div-Logo .Logo {
    width: 35px;
    height: 35px;
    border-radius: 10px;
    margin-left: 10px;
  }
  
  /* Text and Links Styling */
  .Div-Text ul {
  gap: 0
  }
  
  .Div-Text ul li {
    margin: 0;
    position: relative; /* Needed for the dropdown */
  }
  .Div-Text ul li a {
font-size: 12px;
margin: 3px;
  }
  .dropdown-content {
    display: none;
  }


}

// .dropdown:hover {
//   display: block !important;
// }
.dropdown-content li {
  padding: 6px 8px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.dropdown-content li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.dropdown-content li a:hover {
  color: rgba(54, 101, 232, 0.764); /* Change color on hover */
}

.description {
  font-size: 10px;
  color: gray;
  margin-top: 4px;
  display: block;
  width: 100%;
}

/* Show the dropdown when hovering over the parent item */
// .dropdown:hover .dropdown-content {
//   display: block;
// }

/* Hover effect on dropdown items */
.dropdown-content li:hover {
  background-color: #f1f1f1;
}


// About
@media (max-width:776px){
  .About-me{
    display: flex;
    justify-content: space-between;
flex-direction: column-reverse;
}
.TypingEffect h1 {
font-size: 18px;
}
.SupTitle-About{
  font-size: 14px !important;
}
.partie-text{
flex-basis: 90%;
padding-block: 0 !important;
}
.title-About{
font-size: 18px;
width: 90%;

}
.SupTitle-About{
font-size: 24px;
font-weight: bold;
width: 75%;  

}
.partie-image{
    flex-basis: 50%;
    border-radius: 50%;
    padding: 15px;
}

.Personnalite{
border-radius: 50%;
width: 100%;
height: auto;
object-fit: cover;
transition: 3s;

}

.box-projects {
  margin: 15px auto;
  width: 100% !important;
  overflow: hidden; /* Évite que le contenu déborde des coins arrondis */
  border: 1px solid rgb(255, 255, 255);

}
.photo-project{
  border: none;

}
.photo-project img {
  width: 100% !important; /* L'image prend toute la largeur de son conteneur */
  height: 200px !important; 
  overflow: hidden;/* Maintient le ratio d'aspect de l'image */
border-radius: 10px !important;
border: none;
}
.text-description{
  display: none !important;
}
}
.About-me{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 10px auto;
    padding-block: 25px;
}

.partie-text{
flex-basis: 65%;
padding-block: 75px;
}
.title-About{
    font-size: 44px;
    width: 75%;
     align-items: center;
    text-align: start;
    color: #5784ba;
}
.SupTitle-About{
    font-size: 24px;
    font-weight: bold;
    width: 75%;  
    align-items: center;
    text-align: start; 
    color: #ffef00;
}
.partie-image{
    flex-basis: 35%;
    border-radius: 50%;
    padding: 15px;

}

.Personnalite{
border-radius: 50%;
width: 80%;
height: auto;
object-fit: cover;
transition: 3s;
animation: moveDown 5s infinite; /* Applique l'animation */

}
.Personnalite:hover{
      filter: grayscale(5);
animation: none;
}
@keyframes moveDown {
    0% {
      transform: translateY(0); /* Position initiale */
    }
    20% {
        transform: translateY(5px); /* Descend de 15 pixels */
      }
      50% {
        transform: translateY(20px); /* Descend de 15 pixels */
      }

    100% {
      transform: translateY(30px); /* Descend de 30 pixels */
    }
        50% {
      transform: translateY(20px); /* Descend de 15 pixels */
    }
    20% {
      transform: translateY(5px); /* Descend de 15 pixels */
    }

  }

// projects

.mes-Projects {
    display: flex; /* Utiliser Flexbox pour la mise en page */
    flex-wrap: wrap; /* Permet aux éléments de passer à la ligne suivante si l'espace est insuffisant */
    justify-content: space-between; /* Espacer les éléments de manière égale */
    margin: 10px auto;
    padding-block: 25px;
    width: 100%;
}
  
  .box-projects {
    margin: 15px auto;
    width: 60%;
    height: auto; /* Chaque projet occupera environ 30% de la largeur du conteneur */
    margin-bottom: 20px; /* Ajoute un espace entre les lignes de projets */
    // border: 1px solid #9ac8eb; /* Ajoute une bordure pour visualiser chaque projet */
    border-radius: 10px; /* Arrondi les coins */
    overflow: hidden; /* Évite que le contenu déborde des coins arrondis */
    transition: transform 0.3s; /* Animation pour les effets de survol */
position: relative;  
}
  
  .box-projects:hover {
    background-color: #97979595; /* Jaune pâle au survol des projets */
    transform: scale(1.05); /* Agrandit légèrement le projet au survol */
  }

  .photo-project img {
    width: 80%; /* L'image prend toute la largeur de son conteneur */
    height: 350px; 
    overflow: hidden;/* Maintient le ratio d'aspect de l'image */
object-fit: cover;  
transition: 1s;
border-radius: 10px;
// border: 0.5px solid #f1f1f1;

}
.photo-project img:hover{
    opacity: 0.1;
}
.text-description{
    position: absolute;
    width: 80%;
    font-size: 14px;
    font-weight: 700;
    display: inline-block;
    line-height: 1.8;
    height: auto;
    background: linear-gradient(135deg, #888888e5, #5f5e5fd5, #888888e5, #5f5e5fd5);
    color: #ffef00;
    // display: none;   
     left: 10%;
    top: -15px;
    padding-block: 50px;
    opacity: 0;
    transition: 1s;
    height: 64%;
    border-radius: 10px;
}
.text-description:hover{
opacity: 1;
}

  
  .links {
    display: flex; /* Utilise Flexbox pour le conteneur des liens */
    justify-content: space-between; /* Espacement égal entre les liens */
    padding: 10px; /* Ajoute un peu d'espace autour des liens */
  }
  .links a {
    text-decoration: none !important;
    justify-content: space-between;
    align-items: end;
    gap: 15px;
    display: flex;
  }
  .links a:hover{
  color: #5784ba;
  scale: 1.05;
  // background-color: #f7f6cf;
  }
  .git, .view {
    cursor: pointer; /* Change le curseur pour indiquer que c'est cliquable */
    color: #ffef00; /* Couleur des liens */
    transition: color 0.3s; /* Animation pour le changement de couleur */
  }

  
  .git:hover, .view:hover {
    color: #0056b3; /* Change la couleur au survol */
    text-decoration: underline; /* Souligne les liens */
  }
  

// skills
@media (max-width:776px){
  .skills-tools-section {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 0 !important;
  } 
  .skills-left, .tools-right {
    width: 100% !important;
    border-radius: 10px;
    margin-block: 12px;

  }
  .skill-item , .tool-item{
    width: 50px !important;
  }
.title_skills{
  font-size: 22px;
  color: #ffffff;
  background-color: #5f5e5f;
  border-radius: 10px;
  width: fit-content;
  padding-inline: 15px;
  margin: 5px auto;
}

}


.skills-tools-section {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.skills-left, .tools-right {
  width: 45%;
}
 .tools-right:hover{
  border:2px solid #007bff;
  scale: 1.05;
  transform: translateX(-30px);
  border-radius: 10px;
  background: linear-gradient(135deg, #888, #5f5e5f, #888, #5f5e5f);
}

.skills-left:hover{
  border:2px solid #007bff;
  scale: 1.05;
  transform: translateX(30px);
  border-radius: 10px;
  background: linear-gradient(135deg, #888, #5f5e5f, #888, #5f5e5f);
}
.skills-left {
  text-align: center;
  background-color: #f7f6cf; /* Jaune pâle */

  .skills-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .skill-item {
    width: 100px;
    margin: 20px;
    text-align: center;

    .skill-logo {
      width: 50px;
      height: auto;
      margin-bottom: 10px;
    }

    .progress-bar {
      background-color: #eee;
      border-radius: 10px;
      overflow: hidden;

      .progress-fill {
        background-color: #5784ba;
        height: 10px;
      }
    }
  }
}

.tools-right {
  text-align: center;
  background-color: #f7f6cf; /* Jaune pâle */

  .tools-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .tool-item {
    width: 100px;
    margin: 20px;
    text-align: center;

    .tool-logo {
      width: 50px;
      height: 50px;
      margin-bottom: 10px;
    }
  }
}
.tool-logo:hover{
scale: 1.05;
border: 3px solid #007bff;
}
.skill-logo:hover{
  scale: 1.05;
  border: 3px solid #007bff;
}

// contatct
@media (max-width:776px){
  .contact-form {
    width: 100% !important;
     padding-block: 7px !important;
     border-radius: 10px !important;
   
  }

  .contact-form h2 {
    text-align: center;
    color: #fefefe;
    font-size: 18px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  .form-group label {
     justify-content: start !important;
     margin-left: 15% !important;
  }
  button {
    width: 50% !important;
    font-size: 14px !important;

  }
}


.contact-form {
  width: 70%;
  margin: 0 auto;
  padding-block: 45px;
    background: linear-gradient(135deg, #888, #5f5e5f, #888, #5f5e5f);
  color: #232a32; /* Texte sombre */  
  border-radius: 3px 70px 2px 70px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

.contact-form h2 {
  text-align: center;
  color: #fefefe;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  color: #ffffff;
  justify-content: start !important;
  text-align: left;
  margin-left: 10%;
}

.form-group input,
.form-group textarea {
  width: 60%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  text-align: start;
}

.form-group textarea {
  height: 150px;
}

button {
  width: 25%;
  padding: 10px;
  background-color: #c8d0da; /* Bleu moyen pour les boutons */
  color: #656565;
  border: none;
  font-size: 24px;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
  color: #fff;
}

.error-message {
  color: red;
  font-size: 0.9em;
}

.error {
  border-color: red;
}

.success {
  color: green;
  font-size: 1em;
  text-align: center;
}




// Footer 

.footer {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centre le contenu horizontalement */
    justify-content: center; /* Centre le contenu verticalement */
    padding: 20px;
    background: linear-gradient(135deg, #888, #5f5e5f, #888, #5f5e5f);

    color: #f7f6cf;
        position: relative;
    bottom: 0; /* Positionné en bas de la page */
    width: 100%;
    margin: 20px auto;
}

.footer-logo {
    width: 100px; /* Ajustez la taille selon vos besoins */
    height: auto; /* Conserve les proportions */
    margin-bottom: 10px; /* Espace entre le logo et le texte */

border-radius: 25px;}

.footer-text {
    font-size: 14px; /* Taille de police */
    color: #f4cfdf; /* Texte rose pâle */
    text-align: center; /* Centre le texte */
}



// typingEffect

.TypingEffect h1::after {
    content: '|';
    display: inline-block;
    animation: blink 1s infinite;
  }
  
  @keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
  }
  

  // social

  @media (max-width:776px){
    .SocialMedia-Row img {
      width: 28px !important;
      height: 28px !important;  
    }
    .SocialMedia-Row {
       gap: 5px !important;
        margin: 15px auto !important;
    }

    .footer {
       padding: 0 !important;
       margin: 25px auto 0 !important;
  }
  .footer-logo {
    width: 75px; /* Ajustez la taille selon vos besoins */
     margin: 15px auto; /* Espace entre le logo et le texte */

 
    }
  .SocialMedia-Row img {
    width: 28px;
    height: 28px;
    border-radius: 50%;
  }
  }
  .Div-SocialMedia {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: -26px;  }
  
  .SocialMedia-Row {
    display: flex;
    gap: 15px;
    list-style: none;
    padding: 0;
    margin: 35px auto;
  }
  
  .SocialMedia-Row li {
    display: flex;
    align-items: center;
  }
  
  .SocialMedia-Row img {
    width: 38px;
    height: 38px;
    transition: transform 0.3s ease;
    border: 2px solid #9ac8eb; /* Bordure bleu pastel autour des icônes sociales */

  }
  
  .SocialMedia-Row img:hover {
    transform: scale(1.5);

  }
 

  .icon {
    width: 20px;  /* Ajustez la taille de l'icône */
    height: auto; /* Garde le ratio */
    margin-right: 5px; /* Espace entre l'icône et le texte */
  border-radius: 50%;
  }
  .icon:hover{
    scale: 1.05;
  }


@keyframes gradientBG {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.logo-container {
  text-align: center;
}

.logo-container img {
  width: 300px;
  height: auto;
}


.cv-download-section {
  margin-top: 20px;
}

.cv-download-button {
  text-decoration: none;
}

.cv-download-button button {
  background-color: #007BFF; /* Blue color */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cv-download-button button:hover {
  background-color: #0056b3; /* Darker blue on hover */
}

@media (max-width:776px){
  .cv-download-button button {

    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;

  }
}